<div class="box box--floating">
  <div class="box__wrapper">
    <ul class="bordered-list">
      <% current_order.order_items.each do |oi| %>
        <li>
          <span><%= oi.quantity %>x&nbsp;&nbsp;&nbsp;<%= oi.product.name %></span>
          <span><%= number_to_currency '%.2f' % (oi.total.to_i/100.0) %></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="key-value">
  <div class="key-value__keys">
    <span>Shipping</span>
    <span>Total</span>
  </div>
  <div class="key-value__values">
    <span>$0.00 <small><%= current_order.currency_code %></small></span>
    <span><%= number_to_currency ( current_order.order_items.collect { |oi| oi.valid? ? oi.sub_total : 0 }.sum.to_i/100) %> <small><%= current_order.currency_code %></small></span>
  </div>
</div>
</div>