<section class="section email">
  <div class="u-container">

    <div class="page-title">
      <h2>We won't spam. That's not our style.</h2>
      <hr />
    </h2>
    <form
      action="//herbata.us14.list-manage.com/subscribe/post?u=e215acb1d7ce28b7567ed955b&amp;id=26483dbd8a"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      class="validate form--inline"
      target="_blank"
      novalidate>

      <div class="field">
    	  <label for="mce-FNAME">First Name</label>
    	  <input type="text" value="" name="FNAME" placeholder="Jony" class="" id="mce-FNAME">
      </div>
      <div class="field">
      	<label for="mce-EMAIL">Email Address</label>
      	<input type="email" value="" name="EMAIL" placeholder="jony@example.com" class="required email" id="mce-EMAIL">
      </div>
    	<div id="mce-responses" class="clear">
    		<div class="response" id="mce-error-response" style="display:none"></div>
    		<div class="response" id="mce-success-response" style="display:none"></div>
    	</div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e215acb1d7ce28b7567ed955b_26483dbd8a" tabindex="-1" value=""></div>

      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button--outlineTaupe">
    </form>
  </div>
</section>


<footer>
  <div class="u-container">
    <hr />

    <div class="columns">
      <div class="column-1">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Blog", "http://blog.herbata.co" %></li>
          <li><%= link_to "Products", frontend_products_path %></li>
          <li><%= link_to "Account", account_path %></li>
        </ul>
      </div>
      <div class="column-1">
        <p>
          1405 Saint Paul Street.<br>
          Suite #104C<br>
          Kelowna, BC<br>
          Canada V1Y 2E4
        </p>
        <br>
        <p>
          <a href="mailto:yourfriends@herbata.co" target="_blank" alt="Email the Herbata Team">yourfriends@herbata.co</a><br>
          <a href="tel:+12508641438" target="_blank" alt="Call or Text the Herbata Team">+1 (250) 864-1438</a>
        </p>
      </div>
      <div class="column-1">
        <p>&copy; 2017 Herbata Ventures</p>
      </div>
    </div>
  </div>
</footer>