<section class="page">
  <div class="u-container u-container--text">
    <div class="page-title">
      <h1>About</h1>
      <hr />
    </div>

    <p class="lead">Herbata begins with a simple promise; to bring to the table (and the cup) a beautiful experience through the world of tea.</p>

    <p>When we sat down to put together what we would share with all of you, we became consumed with the culture and intricacies of tea. What are the varieties of tea? Where do the best tea leaves come from? What is the best way to make tea? These are just a few of the questions we asked ourselves when we embarked on this adventure.</p>

    <p>We not only want to bring new teas for you to enjoy, we want to immerse you into the story of each box you receive. We research and collaborate to bring you a unique set of teas each month and give you the information you really want, in order to understand everything about them; from the type of leaves, to the smells and sights in the contents of each.</p>

    <p>Can tea be paired with food? Of course, we’re going to share what some great meals are that can pair with your tea each month. What about tea cocktails? We don’t just know teas, we know our spirits too. We’re going to bring you a range of recipes to pair your foods and desserts with for the ultimate culinary experience to show off at your next gathering.</p>

    <p>Let three friends that have come together for the passion of journey, education, and culture bring you a beautiful experience. We’ve really put our hearts in to this for you and we are excited for you to be warmed by the adventure.</p>
  </div>
</section>
