<section class="page">
  <div class="u-container">
    <div class="page-title">
      <h1>Blog</h1>
    </div>

    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>

  </div>
</section>
