<section class="page">
  <div class="u-container">
    <div class="page-title">
      <h1>Cart</h1>
      <hr />
    </div>

    <% if @order_items.count < 1 %>
      <div class="inner inner--center">
        <p class="lead"><%= user_signed_in? ? current_user.first_name.capitalize : "Human" %>, why isn't there anything in your cart?</p>
        <br><br>
        <%= link_to "Create happiness, find products", frontend_products_path, class: "button button--primaryTaupe" %>
      </div>
    <% else %>
      <div class="cartWrapper">
        <% @order_items.each do |oi| %>
          <div class="box box--floating">
            <div class="box__wrapper">
              <div class="box__thumbnail">
                <img src="https://cdn.shopify.com/s/files/1/1601/9145/products/DSC6202_small.jpg?v=1480662275" />
              </div>

              <div class="box__center">
                <div class="title">
                  <%= oi.quantity %>x
                  &nbsp;&nbsp;
                  <%= oi.product.name %>
                </div>
                <%#<div class="number-toggle">
                  <div class="number-toggle__button">-</div>
                  <div class="number-toggle__value">
                    oi.quantity to ERB
                  </div>
                  <div class="number-toggle__button">+</div>
                </div>%>
              </div>

              <div class="box__right">
                <span><%= number_to_currency (oi.total.to_i/100) %> <small><%= current_order.currency_code %></small></span>
              </div>
            </div>

            <div class="box__outer">
              <span><%= link_to 'Remove', order_item_path(oi), method: :delete, data: { confirm: 'Remove from cart?' } %></span>
            </div>
          </div>
        <% end %>

        <div class="cartWrapper__totals">
          <label>Sub Total</label> <span><%= number_to_currency ( @order_items.collect { |oi| oi.valid? ? oi.sub_total : 0 }.sum.to_i/100) %> <small><%= current_order.currency_code %></small></span>
        </div>

        <div class="cartWrapper__actions">
          <% if user_signed_in? %>
            <%= link_to "Continue To Shipping", checkout_shipping_path, class: "button button--primaryTaupe" %>
          <% else %>
            <%= link_to "Continue To Account", checkout_account_path, class: "button button--primaryTaupe" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
