<section class="page">
  <div class="u-container">
    <div class="page-title">
      <h1>Success!</h1>
      <hr />

      <br>
      <p class="lead">Woohooo! Herbata goodness will be on it's way to satisfy the taste buds in your mouth shortly.</p>
      <p>You can view your order status and see your subscriptions on your <%= link_to "account page", account_path %></p>

      <br><br>
      <p><strong>Push for follow / social share will come here</strong></p>
    </div>

  </div>
</section>
