<section class="page">
  <div class="u-container">
    <div class="page-title">
      <h1>Shipping</h1>
      <hr />
    </div>

    <div class="columns">
      <div class="column column-2">
        <p><strong>Go, <%= current_name %>, Go!</strong><br>
        You're almost done. One more step to go.</p>

        <%= render partial: "shared/frontend/checkout_totals" %>

      <div class="column column-4 checkoutPage">
      <!--
        <% if @addresses.size != 0 %>
          <% @addresses.each do |a| %>
            <div class="box box--floating">
              <div class="box__wrapper">
                <div class="box__center">
                  <strong><%= a.first_name %> <%= a.last_name %></strong><br>
                  <%= a.formatted %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <div class="page-title">
          <br>
          <h3>OR</h3>
          <br><br>
        </div>
        -->

        <%= form_for(@address, :html => { class: "form form--fullWidth" }) do |f| %>
          <div class="columns">
            <div class="column column-1">
              <div class="field">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, value: (user_signed_in? ? current_user.first_name : nil), placeholder: "Bobby", required: true %>
              </div>
            </div>
            <div class="column column-1">
              <div class="field">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, value: (user_signed_in? ? current_user.last_name : nil), placeholder: "Examplstien", required: true %>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column column-1">
              <div class="field">
                <%= f.label :line_one, "Address Line One" %>
                <%= f.text_field :line_one, placeholder: "1405 Saint Paul Street", required: true %>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column column-1">
              <div class="field">
                <%= f.label :line_two, "Address Line Two" %>
                <%= f.text_field :line_two, placeholder: "Apt #1403 "%>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column column-1">
              <div class="field">
                <%= f.label :city %>
                <%= f.text_field :city, placeholder: "Kelowna", required: true %>
              </div>
            </div>
            <div class="column column-1">
              <div class="field">
                <%= f.label :province %>
                <%= f.text_field :province, placeholder: "British Columbia", required: true %>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column column-1">
              <div class="field">
                <%= f.label :country, class: "select" %>
                <%= f.select(:country, options_for_select([['Canada', "Canada"], ['United States', "United States"]], 1)) %>
              </div>
            </div>
            <div class="column column-1">
              <div class="field">
                <%= f.label :postal_code, "Postal Code" %>
                <%= f.text_field :postal_code, placeholder: "V1Y2E4", required: true %>
              </div>
            </div>
          </div>

          <br><br>
          <%= hidden_field_tag :continue_checkout, true %>
          <%= f.submit "Continue To Final Step", class: "button button--primaryTaupe" %>          
        <% end %>        
      </div>
    </div>
  </div>
</section>
