<section class="page">
  <div class="u-container">
    <div class="page-title">
      <h1>Account</h1>
      <hr />
    </div>

    <div class="columns">
      <div class="column column-2">
        <p><strong>Hi, <%= current_name %>!</strong><br>
        You’re on step 1 of 3 to following your heart. It’s the key to life.</p>

        <%= render partial: "shared/frontend/checkout_totals" %>

      <div class="column column-4 checkoutPage">
        <!--<div class="columns">
          <div class="column column-1">
            <%# form_for(:user, :url => session_path(:user), :html => { class: "form form--fullWidth"} ) do |f| %>
              <div class="columns">
                <div class="column column-1">
                  <div class="field">
                    <%# f.label :email %>
                    <%# f.text_field :email %>
                  </div>
                </div>
                <div class="column column-1">
                  <div class="field">
                    <%# f.label :password %>
                    <%# f.password_field :password %>
                  </div>
                </div>
              </div>
              <%#<%# f.check_box :remember_me %>
              <%#<%# f.label :remember_me %>
              <br>
              <%# f.submit 'Sign In', class: "button button--primaryTaupe" %>
              <%#<%# link_to "Forgot your password?", new_password_path(:user) %>
            <%# end %>
          </div>
        </div>

        <div class="page-title">
          <br><br>
          <h3>OR</h3>
        </div>-->
    
        <div class="columns">
          <div class="column column-1">
            <h2>Sign Up</h2>
            <br>            
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { class: "form form--fullWidth" }) do |f| %>
              <%= devise_error_messages! %>

              <div class="columns">
                <div class="column column-1">
                  <div class="field">
                    <%= f.label :first_name %>
                    <%= f.text_field :first_name %>
                  </div>
                </div>

                <div class="column column-1">
                  <div class="field">
                    <%= f.label :last_name %>
                    <%= f.text_field :last_name %>
                  </div>
                </div>
              </div>

              <div class="field">
                <%= f.label :email %>
                <%= f.email_field :email %>
              </div>

              <div class="columns">
                <div class="column column-1">
                  <div class="field">
                    <%= f.label :password %>
                    <%= f.password_field :password %>
                  </div>
                </div>

                <div class="column column-1">
                  <div class="field">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation %>
                  </div>
                </div>
              </div>
              <br>
              <%= f.submit "Continue", class: "button button--primaryTaupe" %>
            <% end %>              
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
