<section class="page">
  <div class="u-container">
    <div class="page-title">
      <h1>Payment</h1>
      <hr />
    </div>

    <div class="columns">
      <div class="column column-2">
        <p><strong>Almost... There...</strong><br>
        Final step! Goodness is soon to be at your door and then in your mouth.</p>

        <%= render partial: "shared/frontend/checkout_totals" %>

      <div class="column column-4 checkoutPage">

      <% if @order.errors.any? %>
        <div class="error_explanation">
          <p><strong><%= pluralize(@order.errors.count, "error") %> prevented this record from being saved:</strong></p>
          <ul>
          <% @order.errors.full_messages.each do |msg| %>
            <li><p><%= msg %></p></li>
          <% end %>
          </ul>
        </div>
      <% end %>


        <form
          action="/checkout/payment"
          method="POST"
          class="js-payment-form form form--fullWidth"
          autocomplete="true"
        >
          <span class="payment-errors"></span>
          <div class="columns">
            <div class="column column-1">
              <div class="field">
                <label>Cardholder Name</label>
                <input
                  type="text"
                  placeholder="<%= current_user.name %>"
                  data-stripe="name"
                  required
                />
              </div>
            </div>
            <div class="column column-1">
              <div class="field">
                <label>Card Number</label>
                <input
                  type="tel"
                  class="cc-number"
                  placeholder="**** **** **** ****"
                  autocomplete="cc-number"
                  data-stripe="number"
                  required
                />
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column column-2 columns">
              <div class="column column-1">
                <div class="field">
                  <label>Month</label>
                  <input
                    type="text"
                    class="cc-exp"
                    placeholder="MM"
                    autocomplete="cc-exp"
                    data-stripe="exp_month"
                    required
                  />
                </div>
              </div>
              <div class="column column-1">
                <div class="field">
                  <label>Year</label>
                  <input
                    type="text"
                    class="cc-exp"
                    placeholder="YY"
                    autocomplete="cc-exp"
                    data-stripe="exp_year"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="column column-1">
              <div class="field">
                <label>CVC</label>
                <input
                  type="text"
                  class="cc-cvc"
                  autocomplete="off"
                  data-stripe="cvc"
                  required
                />
              </div>
            </div>
            <div class="column column-1">
              <div class="field">
                <label>Postal Code</label>
                <input
                  type="text"
                  class="cc-zip"
                  placeholder="V1Y 9T1"
                  autocomplete="cc-zip"
                  data-stripe="address_zip"
                  required
                />
              </div>
            </div>
          </div>

          <br><br>  
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>  
          <input type="submit" value="Purchase" class="button button--primaryTaupe" />
        </form>

      </div>
    </div>
  </div>
</section>


<% content_for :page_specific_scripts do %>
  <script type="text/javascript">
    $(document).on('turbolinks:load', function() {
      var STRIPE_PK = "<%= ENV['STRIPE_PK'].to_s %>";
      Stripe.setPublishableKey(STRIPE_PK);
    });
  </script>

  <%= javascript_include_tag 'checkout_payments', 'data-turbolinks-track': 'reload' %>
<% end %>