<header class="hero">
  <div class="hero__inner">
    <h1>Experience The World Of Tea</h1>
    <h2 class="subtitle">
      16 Cups
      &nbsp;&middot;&nbsp;
      4 Teas
      &nbsp;&middot;&nbsp;
      $20/Month
      &nbsp;&middot;&nbsp;
      Free Shipping
    </h2>
    <a href="#order" class="button button--primaryWhite">Order Now</a>
  </div>
  <div class="hero__overlay"></div>
</header>


<section class="u-container section">
  <div class="page-title">
    <h1>Join us on an expedition<br>
    through the world of tea</h1>

    <p class="lead">Embark on a journey unlike anything you've ever experienced before.<br>Let us be your tour-guide on this culinary expedition.</p>
  </div>
</section>

<section class="section howItWorks">
  <div class="u-container">

    <h2>How Herbata Works</h2>
    <hr />

    <div class="columns">
      <div class="column-1">
        <h3>1</h3>
        <h3>we curate teas</h3>
      </div>

      <div class="column-1">
        <h3>2</h3>
        <h3>ship them to you</h3>
      </div>

      <div class="column-1">
        <h3>3</h3>
        <h3>you enjoy your tea</h3>
      </div>
    </div>

  </div>
</section>

<section class="imageTextGroup experience">
  <div class="imageTextGroup__image"></div>
  <div class="imageTextGroup__text">
    <h3>A Complete Experience</h3>
    <p>Herbata is unlike anything you’ve ever experienced before. A monthly subscription that pairs curated teas with original creative stories about the past, present, and future of tea.</p>
  </div>
</section>

<section class="imageTextGroup imageTextGroup--reverse passion">
  <div class="imageTextGroup__image"></div>
  <div class="imageTextGroup__text">
    <h3>Discover Your Passion For Tea</h3>
    <p>You’re not just buying any tea from the store, you’re discovering your unique palate through our journey. We pair teas with food, create recipes for tea cocktails and provide knowledge with new and interesting ways to fall in love with tea.</p>
  </div>
</section>

<section class="imageTextGroup community">
  <div class="imageTextGroup__image"></div>
  <div class="imageTextGroup__text">
    <h3>Be A Part of The Community</h3>
    <p>At it’s core, tea has always been a social experience.<br>Join us in creating your own.</p>
  </div>
</section>

<section class="section quote">
  <div class="u-container">
    <h2>What People Are Saying</h2>
    <hr />

    <p>Amazing tea! I wanted to try something new without committing to a large amount of product - Herbata delivered. Perfect size packet to keep at work & the tea bags were a nice surprise. I really hope to see Ruby Sunrise show up in another box!
    <br><br>
    <strong>Sarah, 27, Brampton ON</strong>
    </p>
  </div>
</section>

<section id="order" class="section purchase">
  <div class="u-container">
    <div class="page-title">
      <h2>Purchase</h2>
      <hr />
    </div>

    <div class="productGroup">
      <div class="columns">
        <% i=0 %>
        <% @products.each do |p| %>
          <% style_variant = ( i == 0 ) ? "productItem--lifted" : "productItem--lesser" %>
          <div class="column-1">
            <div class="productItem <%= style_variant %>">
              <div class="productItem__content">
                <h2><%= p.name %></h2>
                <hr />
                <h3>$<%= p.price.to_i/100 %> <%= p.currency %></h3>

                <p><strong>FREE SHIPPING</strong><br>
                <%= p.description %></p>
                <br><br><br>

                <%= form_for @order_item, remote: true do |f| %>
                  <%= f.hidden_field :quantity, value: 1 %>
                  <%= hidden_field_tag :product_id, p.id %>
                  <%= f.submit (p.interval && p.interval_count) ? "Subscribe" : "Purchase", class: "button button--primaryTaupe" %>
                <% end %>
                <!-- <a href="#" class="button button--outlineTaupe">Gift It</a> -->
              </div>
            </div>
          </div>
          <% i = i+1 %>          
        <% end %>
      </div>
    </div>
  </div>
</section>


<section class="section faq">
  <div class="u-container">
    <div class="page-title">
      <h2>FAQ</h2>
      <hr />
    </div>

    <p><strong>What currency is displayed?</strong><br>
    The currency displayed is in Canadian Dollars (CDN) in Canada and in US Dollars (USD) in the United States.</p>

    <p><strong>How much tea is in each box?</strong><br>
    You will receive 4 teas that have been curated for each box. Each tea will make 4-5 cups for you to enjoy totalling about 16 cups</p>

    <p><strong>How will I get the tea?</strong><br>
    We ship you looseleaf tea! We also provide you with tea bags to get started.</p>

    <p><strong>If I enjoy a tea, can I buy more of it?</strong><br>
    Yes! At the end of each month, you will be able to purchase a bulk amount of any teas from that month that you enjoyed. While we add this functionality to our website, email us <a href="mailto:yourfriends@herbata.co?subject=I%20want%20some%20bulk%20tea!">yourfriends@herbata.co</a>.</p>

    <p><strong>When do I receive my box?</strong><br>
    Your box will arrive at the beginning of each month.</p>

    <p><strong>What if I place my order in the middle of the month?</strong><br>
    For now while we’re getting started, you’ll have to patiently wait until the beginning of the next month! In the future, we want to make sure that we can send out an order on the same or next day that you purchase a subscription.</p>

    <p><strong>Are there shipping fees?</strong><br>
    No, because it's 2017.</p>
    <br>

    <p><strong>What if I don’t like my tea?</strong><br>
    You’ll love it, trust us. These are the droids you’re looking for.</p>
  </div>
</section>