<section class="page">
  <div class="u-container">
    <div class="page-title">
      <!-- <h1>Products</h1> -->
      <p class="lead">You've never experienced anything like this before.</p>
      <hr />
    </div>
    

    <div class="productGroup">
      <div class="columns">
        <% i=0 %>
        <% @products.each do |p| %>
          <% style_variant = ( i == 0 ) ? "productItem--lifted" : "productItem--lesser" %>
          <div class="column-1">
            <div class="productItem <%= style_variant %>">
              <div class="productItem__content">
                <h2><%= p.name %></h2>
                <hr />
                <h3>$<%= p.price.to_i/100 %> <%= p.currency %></h3>

                <p><strong>FREE SHIPPING</strong><br>
                <%= p.description %></p>
                <br><br><br>

                <%= form_for @order_item, remote: true do |f| %>
                  <%= f.hidden_field :quantity, value: 1 %>
                  <%= hidden_field_tag :product_id, p.id %>
                  <%= f.submit (p.interval && p.interval_count) ? "Subscribe" : "Purchase", class: "button button--primaryTaupe" %>
                <% end %>
                <!-- <a href="#" class="button button--outlineTaupe">Gift It</a> -->
              </div>
            </div>
          </div>
          <% i = i+1 %>          
        <% end %>
      </div>
    </div>


  </div>
</section>
