<section class="page">
  <div class="u-container u-container--text">
    <div class="page-title">
      <h1>Create Account</h1>
      <hr />
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, autofocus: true, placeholder: "Bobby" %>
      </div>

      <div class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, placeholder: "Wise" %>
      </div>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, placeholder: "me@example.com" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", placeholder: "password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "password again" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "button button--primaryTaupe" %>
      </div>

      <br><br>

      <%= render "devise/shared/links" %>

    <% end %>
  </div>
</section>
