Hi <%= @user.name %>,
Welcome to the Herbata family! The whole team is really excited that you're joining what we're doing.
You can access your account by visiting: <%= link_to @url, @url %>.

If you ever need anything, don't hesitate to reach out to any of us by email yourfriends@herbata.co.



Cheers,

Jeremy Becker
Co-Founder/CEO, Herbata

PS. This was an automated email. If you want to reach me directly, email me at jeremy@herbata.co.
