<p>
  Hi <%= @user.name %>,<br>
  Welcome to the Herbata family! The whole team is really excited that you're joining what we're doing.<br>
  You can access your account by visiting: <%= link_to @url, @url %>.<br>
  <br>
  If you ever need anything, don't hesitate to reach out to any of us by email <a href="mailto:yourfriends@herbata.co">yourfriends@herbata.co</a>.<br>
  <br>
  <br>
  <br>
  Cheers,<br>
  <br>
  Jeremy Becker<br>
  <em>Co-Founder/CEO, Herbata</em>
  <br>
  <br>
  <small>PS. This was an automated email. If you want to reach me directly, email me at <a href="mailto:jeremy@herbata.co">jeremy@herbata.co</a>.</small>
</p>
