<section class="page">
  <div class="u-container u-container--text">
    <div class="page-title">
      <h1>Reset Password</h1>
      <hr />
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, placeholder: "me@example.com" %>
      </div>

      <div class="actions">
        <%= f.submit "Reset Password", class: "button button--primaryTaupe" %>
      </div>

      <br><br>
      <%= render "devise/shared/links" %>

    <% end %>
  </div>
</section>
