<%= form_for(coupon) do |f| %>
  <% if coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% coupon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.text_field :duration %>
  </div>

  <div class="field">
    <%= f.label :duration_in_months %>
    <%= f.number_field :duration_in_months %>
  </div>

  <div class="field">
    <%= f.label :amount_off %>
    <%= f.number_field :amount_off %>
  </div>

  <div class="field">
    <%= f.label :percent_off %>
    <%= f.number_field :percent_off %>
  </div>

  <div class="field">
    <%= f.label :currency %>
    <%= f.text_field :currency %>
  </div>

  <div class="field">
    <%= f.label :max_redemptions %>
    <%= f.number_field :max_redemptions %>
  </div>

  <div class="field">
    <%= f.label :reedem_by %>
    <%= f.datetime_select :reedem_by %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
