<p id="notice"><%= notice %></p>

<h1>Coupons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Duration</th>
      <th>Duration in months</th>
      <th>Amount off</th>
      <th>Percent off</th>
      <th>Currency</th>
      <th>Max redemptions</th>
      <th>Reedem by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coupons.each do |coupon| %>
      <tr>
        <td><%= coupon.name %></td>
        <td><%= coupon.code %></td>
        <td><%= coupon.duration %></td>
        <td><%= coupon.duration_in_months %></td>
        <td><%= coupon.amount_off %></td>
        <td><%= coupon.percent_off %></td>
        <td><%= coupon.currency %></td>
        <td><%= coupon.max_redemptions %></td>
        <td><%= coupon.reedem_by %></td>
        <td><%= link_to 'Show', coupon %></td>
        <td><%= link_to 'Edit', edit_coupon_path(coupon) %></td>
        <td><%= link_to 'Destroy', coupon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coupon', new_coupon_path %>
