<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-primary">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <%= image_tag "white.logo@2x", width: 39, height: 36 %>
      <%#&nbsp;&nbsp;|&nbsp;&nbsp;
      The Farm%>
      &nbsp;&nbsp;&nbsp;&nbsp;
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sales
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Orders", orders_path, class: "dropdown-item" %>
            <%= link_to "Customers", customers_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%#<%= link_to "Invoices", "/", class: "dropdown-item" %>
            <%#<%= link_to "Charges", charges_path, class: "dropdown-item" %>
            <%= link_to "Subscriptions", subscriptions_path, class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Store
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Products", products_path, class: "dropdown-item" %>
            <%= link_to "Coupons", coupons_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "Products Groups", product_groups_path, class: "dropdown-item" %>
            <a class="dropdown-item" href="#">Discounts</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Users</a>
            <a class="dropdown-item" href="#">Order Statuses</a>
            <a class="dropdown-item" href="#">Product Types</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <h6 class="dropdown-header">Settings</h6>
            <a class="dropdown-item" href="#">Account</a>
            <a class="dropdown-item" href="#">Notifications</a>
            <div class="dropdown-divider"></div>
            <%= link_to "Logout", destroy_user_session_path, { method: :delete, class: "dropdown-item" } %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>