<nav class="fc-nav">
  <div class="fc-nav__logo">
    <%= image_tag "white.logo", width: "75", height: "70" %>
  </div>

  <!-- <form class="aor" _lpchecked="1">
    <input class="form-control" type="text" placeholder="Search...">
    <button type="submit" class="fm">
      <span class="bv adn"></span>
    </button>
  </form> -->

  <ul class="nav nav-pills nav-stacked">
    <li class="nav-label">Overview</li>
    <li class="nav-item">
      <a class="nav-link active" href="#">Dashboard</a>
    </li>

    <li class="nav-label">Ecommerce</li>
    <li class="nav-item"><%= link_to "Orders", orders_path, class: 'nav-link' %></li>
    <li class="nav-item"><%= link_to "Subscriptions", subscriptions_path, class: 'nav-link' %></li>
    <li class="nav-item"><%= link_to "Coupons", coupons_path, class: 'nav-link' %></li>

    <li class="nav-label">Products</li>
    <li class="nav-item"><%= link_to "Products", products_path, class: 'nav-link' %></li>
    <li class="nav-item"><%= link_to "Product Groups", product_groups_path, class: 'nav-link' %></li>

    <li class="nav-label">Account</li>
    <li class="nav-item">
      <a class="nav-link" href="#">Settings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Logout</a>
    </li>
  </ul>
</nav>
