<br><br><br><br>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Customer Name</th>
        <th>Date/Time</th>
        <th>Product</th>
        <th>Total</th>
        <th>Shipping Country</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |o| %>
        <tr>
          <th scope="row"><%= o.id %></th>
          <td><%= o.status.order_status.name %></td>
          <td><%= o.customer.name %></td>
          <td><%= o.created_at %></td>
          <td>
            <ul>
              <% o.order_items.each do |oi| %>
                <li>
                  <strong><%= oi.total %></strong>
                  &nbsp; - &nbsp;
                  <%= oi.product.name %>
                </li>
              <% end %>
            </ul>
          </td>
          <td><%= o.total %></td>
          <td><%= o.shipping_address.country %></td>
          <td>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
              <%= link_to "Details", order_detail_path(o.id), class: "btn btn-secondary" %>

              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <h6 class="dropdown-header">View</h6>
                  <a class="dropdown-item" href="#">TD: Customer</a>
                  <a class="dropdown-item" href="#">TD: Charge Details</a>
                  <a class="dropdown-item" href="#">TD: Stripe Transaction</a>
                  <div class="dropdown-divider"></div>
                  <h6 class="dropdown-header">Click to copy</h6>
                  <a class="dropdown-item" href="#">TD: Shipping Address</a>
                  <a class="dropdown-item" href="#">TD: Customer Email</a>
                </div>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
