<div class="fc-card">
  <%= form_for(product_group)  do |f| %>
    <div class="form-group">
      <% if product_group.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(product_group.errors.count, "error") %> prohibited this product_group from being saved:</h2>

          <ul>
          <% product_group.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  <% end %>
</div>
