<p id="notice"><%= notice %></p>

<h1>Product Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_groups.each do |product_group| %>
      <tr>
        <td><%= product_group.name %></td>
        <td><%= product_group.description %></td>
        <td><%= link_to 'Show', product_group %></td>
        <td><%= link_to 'Edit', edit_product_group_path(product_group) %></td>
        <td><%= link_to 'Destroy', product_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product Group', new_product_group_path %>
