<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product_group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product_group.description %>
</p>

<%= link_to 'Edit', edit_product_group_path(@product_group) %> |
<%= link_to 'Back', product_groups_path %>
