<%= form_for(subscription) do |f| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %>
    <%= f.text_field :customer_id %>
  </div>

  <div class="field">
    <%= f.label :product_id %>
    <%= f.text_field :product_id %>
  </div>

  <div class="field">
    <%= f.label :coupon_id %>
    <%= f.text_field :coupon_id %>
  </div>

  <div class="field">
    <%= f.label :uuid %>
    <%= f.text_field :uuid %>
  </div>

  <div class="field">
    <%= f.label :stripe_id %>
    <%= f.text_field :stripe_id %>
  </div>

  <div class="field">
    <%= f.label :stripe_customer_id %>
    <%= f.text_field :stripe_customer_id %>
  </div>

  <div class="field">
    <%= f.label :stripe_coupon_id %>
    <%= f.text_field :stripe_coupon_id %>
  </div>

  <div class="field">
    <%= f.label :stripe_plan_id %>
    <%= f.text_field :stripe_plan_id %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :tax_percent %>
    <%= f.text_field :tax_percent %>
  </div>

  <div class="field">
    <%= f.label :trial_end %>
    <%= f.text_field :trial_end %>
  </div>

  <div class="field">
    <%= f.label :canceled_at %>
    <%= f.datetime_select :canceled_at %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
