<h6>Ecommerce</h6>
<h2>Subscriptions</h2>
<br>

<p id="notice"><%= notice %></p>


<table class="fc-table table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Product</th>
      <th>Coupon</th>
      <th>Uuid</th>
      <th>Stripe subscription</th>
      <th>Stripe customer</th>
      <th>Stripe coupon</th>
      <th>Stripe plan</th>
      <th>Quantity</th>
      <th>Tax percent</th>
      <th>Trial end</th>
      <th>Canceled at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <td><%= subscription.customer %></td>
        <td><%= subscription.product %></td>
        <td><%= subscription.coupon %></td>
        <td><%= subscription.uuid %></td>
        <td><%= subscription.stripe_id %></td>
        <td><%= subscription.stripe_customer_id %></td>
        <td><%= subscription.stripe_coupon_id %></td>
        <td><%= subscription.stripe_plan_id %></td>
        <td><%= subscription.quantity %></td>
        <td><%= subscription.tax_percent %></td>
        <td><%= subscription.trial_end %></td>
        <td><%= subscription.canceled_at %></td>
        <td><%= link_to 'Show', subscription %></td>
        <td><%= link_to 'Edit', edit_subscription_path(subscription) %></td>
        <td><%= link_to 'Destroy', subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subscription', new_subscription_path %>
