<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @subscription.customer %>
</p>

<p>
  <strong>Product:</strong>
  <%= @subscription.product %>
</p>

<p>
  <strong>Coupon:</strong>
  <%= @subscription.coupon %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @subscription.uuid %>
</p>

<p>
  <strong>Stripe id:</strong>
  <%= @subscription.stripe_id %>
</p>

<p>
  <strong>Stripe customer:</strong>
  <%= @subscription.stripe_customer_id %>
</p>

<p>
  <strong>Stripe coupon:</strong>
  <%= @subscription.stripe_coupon_id %>
</p>

<p>
  <strong>Stripe plan:</strong>
  <%= @subscription.stripe_plan_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @subscription.quantity %>
</p>

<p>
  <strong>Tax percent:</strong>
  <%= @subscription.tax_percent %>
</p>

<p>
  <strong>Trial end:</strong>
  <%= @subscription.trial_end %>
</p>

<p>
  <strong>Canceled at:</strong>
  <%= @subscription.canceled_at %>
</p>

<%= link_to 'Edit', edit_subscription_path(@subscription) %> |
<%= link_to 'Back', subscriptions_path %>
