<section class="page">
  <div class="u-container u-container--text">
    <div class="page-title">
      <h1>Login</h1>
      <hr />
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, placeholder: "me@example.com" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", placeholder: "**********" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: "inline" %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "button button--primaryTaupe" %>
      </div>

      <br><br>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</section>
