<% @orders.each do |order| %>
  <div class="box box--floating">
    <div class="box__wrapper">
      <div
        class="box__thumbnail"
        style="background-image: url(https://cdn.shopify.com/s/files/1/1601/9145/products/DSC6202_small.jpg?v=1480662275);">
      </div>

      <div class="box__center">
        <div class="title">
          <% num_of_items = order.order_items.size %>
          <% order.order_items.each.with_index do |oi, i| %>
            <%= oi.product.name %><%= num_of_items == (i+1) ? "" : ", " %>
          <% end %>
        </div>

        <div class="subtitle">
          <%= order.created_at.strftime("%b %e, %Y") %>
            &nbsp;&mdash;&nbsp;
          #17-00<%= order.id %>
        </div>

        <div class="meta">
          <span class="tag"><%= order.order_statuses.last.name %></span>
        </div>

      </div>

      <div class="box__right">
        <span><%= order_total_with_currency(order) %></span>
      </div>
    </div>

    <%#<div class="box__outer">
      <span>Hello</span>
    </div>%>
  </div>
<% end %>
