<h3>Account Settings</h3>

<!-- <%= form_for(@user, url: 'account_settings_update_path') do |f| %> -->
<%= form_for(user, as: user, url: registration_path(user), html: { method: :put }) do |f| %>

<div class="field">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>

<div class="field">
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</div>

<div class="field">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>

<div class="field">
  <%= f.label :password %>
  <%= f.text_field :password %>
</div>


<% end %>
