<div class="cardList">
  <% @subscriptions.each do |subscription| %>
    <% floating_class = 'box--floating' if subscription.canceled_at.blank? %>
    
    <div class="box <%= floating_class %>">
      <div class="box__wrapper">
        <div
          class="box__thumbnail"
          style="background-image: url(https://cdn.shopify.com/s/files/1/1601/9145/products/DSC6202_small.jpg?v=1480662275);">
        </div>

        <div class="box__center">
          <div class="title">
            <%= subscription.product.name %>
            <%= subscription.product.interval_count %> <%= subscription.product.interval %>
          </div>
          <div class="subtitle">
            <%= subscription.created_at.strftime("%b %e, %Y") %>
            &nbsp;&mdash;&nbsp;
            <%= subscription.uuid %>
          </div>

          <div class="meta">
            <span class="tag">
              <%= subscription.canceled_at ? 'Cancelled ' + subscription.canceled_at.strftime("%b %e, %Y") : 'Active' %>
            </span>
          </div>

        </div>

        <% unless subscription.canceled_at %>
          <div class="box__right">
            <span><%= subscription_total_with_currency(subscription) %></span>
          </div>
        <% end %>
      </div>

      <div class="box__outer">
        <%= link_to "Cancel", cancel_subscription_path(subscription), method: :post, data: { confirm: "Are you sure..? We'd be so sad to see you go."} %>
      </div>
    </div>
  <% end %>
</div>
