/**************************************
 *
 * Copyright 2016 Herbata Ventures Inc.
 * Created Dec 25, 2016 by @iamjbecker
 *
 **************************************/


/*******************

  Table of Contents
    1. Imports
    2. Variables / Mixins
    3. Base Styles
    4. Navigation
      - Fixed Nav
      - Menu
    5. Header
    6.

 *******************/

 $enable-flex: true;


/*******************
 * 1. Imports
 *******************/

  @import "normalize";
  @import "ionicons.min";

  // Core variables and mixins
  @import "bootstrap/variables";
  @import "bootstrap/mixins";

  // Reset and dependencies
  @import "bootstrap/print";

  // Core CSS
  @import "bootstrap/images";
  @import "bootstrap/grid";


/*******************
 * 2. Variables / Mixins
 *******************/

  $black: #000;
  $white: #fff;

  $charc: #222;
  $charc-light: lighten($charc, 15%);
  $charc-dark: darken($charc, 15%);

  $grey: #d5d5d5;
  $grey-light: lighten($grey, 15%);
  $grey-dark: darken($grey, 15%);

  $brand-primary: #4B3B47;
  $brand-secondary: #9a4f59;
  // $brand-tertiary:

  $sans-serif: "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  @mixin trans($speed: 300ms) {
    transition: all ease $speed;
  }



/*******************
 * 3. Base Styles
 *******************/

  html {
    // font-size: 100%;
    font-size: 62.5%;

  }

  body {
    font-family: $sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h1,h2,h3,h4,h5,h6 { display: block; }
  hr { margin: 7rem 45%; }

  h1 {
    font-size: 3.5rem;
    font-weight: 400;
    margin: 3rem 0 1rem;
  }

  h2 {
    font-size: 2.3rem;
    font-weight: 300;
    margin: 3rem 0 2rem;

    &.subtitle {
      margin: 0 0 3rem;
      color: #b1b1b1;
    }
  }

  h3 {
    margin: 3rem 0 0.5rem;
    font-size: 1.9rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }

  h4 {
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: 400;
  }

  h5 {}
  h6 {}

  p {
    display: inline-block;
    margin: 1.5rem 0;
    font-size: 1.6rem;
    font-family: Baskerville; // FIX ME, TODO
    line-height: 1.7;

    &.lead { font-size: 2rem; }
  } // end p

  a {
    @include trans;

    font-size: 1.6rem;
    text-decoration: none;
    color: $brand-secondary;

    &:hover { text-decoration: underline; }
  }


/*******************
 * Styles
 *******************/

  .u-container {
    width: 96rem;
    max-width: 100%;
    margin: 0 auto;

    box-sizing: border-box;
    padding: 2rem;

    // @media (min-width: 800px) { padding: 0 }

    &--text { width: 70rem }
  }

  .u-spacer {
    margin-top: 12.5rem;
  }

  .navWrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;

    box-shadow: 0 0 20rem 0 rgba(0,0,0,0.1);
  }

  .pageBanner {
    height: 4rem;
    background: rgba(255,255,255,0.95);
    border-bottom: 1px solid rgba($charc, 0.15);
    box-sizing: border-box;

    &__left,
    &__right {
      display: flex;
      align-items: center;
    }

    &__left { justify-content: flex-start; }
    &__right { justify-content: flex-end; }

    .u-container {
      display: flex;
      justify-content: space-between;

      height: 100%;
      padding: 2rem 0;
    }

    a { color: $charc; }

    p {
      margin: 0;
      font-size: 1.3rem;
      font-family: $sans-serif;
      line-height: 1;
      color: $charc;
    }
  }

  .navigation {
    &--scrolled {
      background: rgba(255,255,255,0.95);
    }

    .u-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 0 2rem;
        box-sizing: border-box;

        @media (min-width: 960px) { padding: 0 }
    } // end &.u-container

    &__brand {
      display: flex;
      align-items: center;
    } // end &__brand

    &__menu {}
  } // end navigation

  .menu {
    &__trigger {
      display: block;
      padding: 2.5rem 1rem;
      font-size: 3rem;
      cursor: pointer;

      @media(min-width: 600px) {
        display: none;
      }
    }
    &__items {
      display: none;
      margin: 0;
      padding: 0;
      list-style: none;

      @media(min-width: 600px) {
        display: block;
      }

      &.is-visible {
        @media (max-width: 600px) {
          display: block;
          position: absolute;

          top: 8.4rem;
          left: 0;
          right: 0;

          background: rgba(255,255,255,0.95);

          li {
            display: block;
            a { display: block }
          }
        }
      } // end &.is-visible

      li {
        display: inline-block;

        &:last-child a { margin-right: 0; }

        a {
          @include trans;

          display: inline-block;
          margin: 0 2rem;
          padding: 3rem 0;

          border-bottom: 0.2rem solid transparent;

          font-size: 1.3rem;
          text-transform: uppercase;
          letter-spacing: 0.2rem;

          color: #000;

          &:hover,
          &.is-active {
            border-bottom-color: $brand-secondary;
            color: $brand-secondary;
            text-decoration: none;
          }
        }
      } // end li
    } // end &__itmes
  } // end .menu




/**************
 * .page-title
 **************/

  .page-title {
    text-align: center;

    hr { margin: 3rem 47% 5rem; }
  } // end .page-title



  footer {
    padding-bottom: 5rem;

    p, a {
      font-family: $sans-serif;
      font-size: 1.3rem;
      line-height: 1.3;
    } // end p

    ul {
      margin: 1.5rem 0;
      padding: 0;
      list-style: none;

      li a {
        font-size: 1.3rem;
        line-height: 1.6;
        text-transform: uppercase;
        color: $black;

        &:hover {
          @include trans;
          text-decoration: none;
          padding-left: 1rem;
          color: $brand-secondary;
        }
      } // end li a
    } // end ul
  } // end footer



  section {
    &.page { margin-top: 20rem }
    &.section {
      padding-top: 8rem;
      padding-bottom: 8rem;
    }

    &.howItWorks {
      background: #f2f2f2;
      text-align: center;

      h2 { margin-top: 0 }
      hr { margin: 2rem 46% 3rem; }
    } // end &.howItWorks

    &.quote {
      background: $grey-light;
      hr { margin: 3rem 46% 2rem; }
      h2 {
        margin: 0;
        text-align: center;
      }
      p {
        margin-bottom: 0;
        padding: 0 2rem;
        text-align: center;

        @media (min-width: 600px) { padding: 0 15rem; }
      }
    } // end &.quote

    &.purchase {
      h2 { margin-top: 0; }
    } // end &.purchase

    &.email {
      margin-top: 10rem;
      padding-bottom: 0;
      border-top: 1px solid rgba(0,0,0,0.1);
    } // &.email
  } // end section


  .hero {
    position: relative;
    height: 53rem;
    padding: 7.6rem 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    // background-image: url("https://one.mistobox.com/skin/frontend/default/sns_korion/images/mbox/mistobox_hero.jpg");
    // background-image: url("//cdn.shopify.com/s/files/1/1601/9145/files/kzzyrizcwtw-matthew-henry_1024x1024.jpg?v=1480471552");
    background-image: image-url("headerBackground.jpg");
    background-size: cover;

    @media (min-width: 600px) {
      height: 63rem;      
    }

    &__overlay {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;

      background: rgba($brand-primary, 0.45);
    }

    &__inner {
      position: relative;
      z-index: 2;
    }

    h1 {
      color: $white;
      font-weight: 300;
      font-size: 6rem;
    }
    h2 {
      color: $white;
      font-weight: bold;
      text-transform: uppercase;
    }
  } // end .hero

/***************
 * Buttons
 **************/

  .button {
    @include trans;
    display: inline-block;
    margin: 0 0.5rem;
    padding: 1.6rem 2.5rem;
    border: 0.1rem solid transparent;

    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1rem;

    cursor: pointer;

    &:hover { text-decoration: none }

    &--primaryWhite {
      background: $white;
      box-shadow: 0 0 5rem 0 rgba(0,0,0,0.25);

      &:hover {
        box-shadow: 0 0 7.5rem 0 rgba(0,0,0,0.25);
        transform: scale3d(1.1,1.1,1.1);
      }
    }

    &--small {
      font-size: 1rem;
      padding:1.5rem 2rem;
    }

    &--primaryTaupe {
      background: $brand-primary;
      color: $white;
      box-shadow: 0 0 5rem 0 rgba(0,0,0,0.25);

      &:hover {
        box-shadow: 0 0 7.5rem 0 rgba(0,0,0,0.25);
        transform: scale3d(1.1,1.1,1.1);
      }
    }

    &--outlineTaupe {
      background: none;
      color: $brand-primary;
      border-color: $brand-primary;
      opacity: 0.8;

      &:hover { opacity: 1; }
    }
  }

  .imageTextGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1040px) { flex-direction: row }

    &--reverse {
      flex-direction: column;
      @media (min-width: 1040px) { flex-direction: row-reverse }
    }

    &__image {
      background-size: cover;
      background-position: center;
      min-height: 41rem;
      width: 100%;

      @media (min-width: 1040px) { width: 50% }
    } // end &__image

    &__text {
      padding: 4rem 5rem;
      box-sizing: border-box;
      text-align: center;

      @media (min-width: 1040px) {
        width: 50%;
        padding: 8rem 10rem;
      }
    } // end &__text

    &.experience {
      .imageTextGroup__image {
        background-image: url("https://cdn.shopify.com/s/files/1/1601/9145/files/DSC6151_2ceb5c03-a0d4-44d9-82b2-3421409f87ee_600x600.jpg?v=1480708052");
      }
    }
    &.passion {
      .imageTextGroup__image {
        background-image: url("https://cdn.shopify.com/s/files/1/1601/9145/files/DSC6196_600x600.jpg?v=1480662013");
      }
    }
    &.community {
      .imageTextGroup__image {
        background-image: url("https://cdn.shopify.com/s/files/1/1601/9145/files/DSC6244_82408c17-1d31-4bbc-8836-1423a827ece2_600x600.jpg?v=1480708137");
      }
    }
  }



  // .row {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;

  //   .column {
  //     flex: 1;
  //     margin-right: 5rem;

  //     &:last-child { margin-right: 0 }
  //   } // end .column
  // } // end .row

  .productGroup {
    margin-top: 5rem;

    .columns {
      align-items: center;
      flex-direction: column;

      @media (min-width: 930px) {
        flex-direction: row;
      }
    }
  }

  .productItem {
    border: 1px solid rgba($black,0.1);
    border-radius: 0.5rem;
    text-align: center;
    margin: 10px;

    &--lifted {
      border: none;
      box-shadow: 0 0 5rem 0 rgba(0,0,0,0.25);
    }

    &--lesser {
      a.button--primaryTaupe { box-shadow: none; }
    }

    img {
      border-radius: 0.5rem 0.5rem 0 0;
      max-width: 100%;
    }

    &__content {
      padding: 6rem;
      h2 { margin: 1rem 0 0; }
      hr { margin: 2rem 45% 1rem; }
    } // end &__content
  } // end .productItem

  .formWrapper {
    max-width: 50rem;
    margin: 0 auto;
  }

  form,
  .form {
    width: 30rem;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;

    display: flex;
    flex-direction: column;

    .actions { text-align: center; }

    &--fullWidth { width: 100% }
    &--inline {
      display: flex;

      width: 70rem;
      margin: 0 auto;

      @media (min-width: 800px) {
        flex-direction: row;
      }

      .field {
        flex: 1;

        @media (min-width: 800px) {
          margin-right: 2rem;
        }
      }

      input[type="submit"] {
        width: 16rem;
        height: 5rem;
        margin-top: 2.1rem;
      }
    }
  }

  .field {
    text-align: left;
    margin-bottom: 1.5rem;      

    label {
      font-size: 1.5rem;
      text-transform: uppercase;
      text-align: left;
      letter-spacing: 0.2rem;
      margin-bottom: 0.5rem;
      display: block;

      &.inline { display: inline-block; }

      &.select {
        position: relative;
        
        &::after {
          display: block;
          content: "\f3d0";
          font-family: "Ionicons";
          font-size: 2rem;
          color: #000;
          position: absolute;
          top: 3.75rem;
          right: 1rem;
          z-index: 10;
        }
      }
    } // label
  } // .field

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="checkbox"],
  input[type="tel"],
  select {
    font-size: 1.6rem;
    padding: 1.5rem;
    width: 100%;
    border: 0.1rem solid black;
    box-sizing: border-box;

    outline: none;

    &:focus {
      outline: none;
      border-color: $brand-secondary;
    }

    &[type="checkbox"] {
      width: 2rem;
      display: inline-block;
      text-align: left;
    }
  } // input

  select {
    position: relative;
    -webkit-appearance: none;
    border-radius:0;
  }

  input[type="submit"] {
    width: 100%;
    margin: 0;
    font-size: 1.6rem;
  }


  .notification {
    position: fixed;
    z-index: 10;
    bottom: 2.5rem;
    left: 2.5rem;
    font-size: 1.6rem;
    color: white;
    background: rgba(0,0,0,0.8);
    padding: 2rem;
  }


  .columns {
    display: flex;
    flex-direction: column;

    @media (min-width: 600px) {
      flex-direction: row;
    }

    .column {
      margin-right: 0;
      &:last-child { margin-right: 0 }

      @media (min-width: 600px) { margin-right: 1rem; }

      &-1 { flex: 1 }
      &-2 { flex: 2 }
      &-3 { flex: 3 }
      &-4 { flex: 4 }
      &-5 { flex: 5 }
    } // end .column
  } // end .columns


  .account {

    &__menu {
      display: block;
      margin: 0;
      margin-right: 3rem;
      padding: 0;
      
      box-sizing: border-box;
      list-style: none;


      li a {
        @include trans;

        display: block;
        padding: 1.5rem;
        margin: 0.5rem 0;

        background: $grey-light;
        border-radius: 0.5rem;

        color: $charc;
        font-size: 1.5rem;
        text-decoration: none;

        &:hover {
          background: $charc-light;
          color: $white;
        }

        &.is-active {
          background: $brand-primary;
          color: $white;
        } // end &.is-active
      } // end li a
    } // end &__menu
  } // end .account

  table {
    font-size: 1.6rem;
  }

  .cartWrapper {
    margin: 0 auto;
    max-width: 50rem;

    .box {
      margin: 2.5rem 0;

      // .title { margin: 0.75rem 0; }
    }

    &__totals {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 5rem;
      padding-right: 2.5rem;

      font-size: 1.6rem;

      label {
        align-self: center;
        margin-right: 2rem;
      }
      span { font-size: 2rem; }
    }

    &__actions {
      text-align: right;
    }
  }

  .tag {
    display: inline-block;
    padding: 0.6rem 0.5rem 0.5rem 0.6rem;
    box-sizing: border-box;

    background-color: $brand-primary;
    border-radius: 0.5rem;    

    font-weight: 500;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    line-height: 1.1rem;
    color: $white;
  }


  .cardList {
    .box {
      margin-bottom: 20px;
    }
  }

  .box {
    position: relative;
    
    &__wrapper {
      @include trans;

      position: relative;
      z-index: 1;
      display: flex;
      justify-content: space-between;

      background: #fff;
      border: 1px solid $grey;
      border-radius: 0.5rem;

      font-size: 1.6rem;
    }

    &__inner {
      padding: 2.5rem;
    }

    &__thumbnail {
      width: 10rem;
      min-height: 10rem;

      background-size: cover;
      background-position: center center;
      border-radius: 0.5rem 0 0 0.5rem;
      overflow: hidden;
      
      line-height: 0;

      img {
        max-width: 10rem;
        min-height: 10rem;
        height: 100%;
      }
    }

    &__center {
      display: flex;
      flex-direction: column;
      align-items:flex-start;
      justify-content: center;
      flex: 1;
            
      min-height: 10rem;
      padding: 2rem;
      box-sizing: border-box;

      .title {
        font-size: 1.7rem;
      }
      .subtitle {
        margin-top: 0.5rem;
        opacity: 0.5;
      }

      .meta {
        margin-top: 1rem;
      }
    }

    &__right {
      display: flex;
      align-content: center;
      justify-content: flex-end;

      width: 10rem;
      min-height: 10rem;

      padding: 0 2.5rem 0 0;

      span {
        font-size: 2rem;
        align-self: center;
      }
    }
  
    &__outer {
      @include trans;

      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;

      width: 10rem;

      display: flex;
      align-items: center;
      justify-content: center;
      
      z-index: 0;
      transform: translate3d(0, 0, 0);
    }
        
    &--floating {
      .box__wrapper {
        border: none;
        box-shadow: 0 0 5rem 0 rgba(0, 0, 0, 0.15);
      }
      
      &:hover {
        .box__wrapper {
          transform: scale3d(1.05, 1.05, 1.05);
          box-shadow: 0 0 7.5rem 0 rgba(0, 0, 0, 0.15);
        }

        .box__outer { transform: translate3d(11rem, 0, 0); }
      }
    }



  }

  .inner {
    &--center {
      text-align: center;
    }
  }

  ul.bordered-list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    width: 100%;

    li {
      display: flex;
      justify-content: space-between;
      
      list-style: none;
      margin: 0;
      padding: 1.5rem 2rem;

      border-bottom: 1px solid rgba(0,0,0,0.15);

      &:last-child { border-bottom: none; }
    }
  }

  .key-value {
    display: flex;
    justify-content: flex-end;

    margin-top: 2rem;
    margin-right: 1.5rem;

    &__keys,
    &__values {
      font-size: 1.6rem;
      text-align: right;     

      span {
        display: block;
        height: 2.5rem;
        margin-top: 1rem;
      }
    }

    &__keys {
      margin-right: 2rem;
      font-weight: 500;
    }
    &__values { font-size: 2rem; }
  }

  .checkout-prompt {
    // @include trans;

    position: fixed;
    bottom: 2rem;
    left: 50%;
    z-index: 5;

    // padding: 1.5rem 2rem;;
    // border-radius: 100rem;
    
    // background: $brand-primary;
    // box-shadow: 0 0 5rem 0 rgba(0,0,0,0.25);

    transform:translateX(-50%);

    // &:hover { box-shadow: 0 0 7.5rem 0 rgba(0,0,0,0.25); }

    // span {
    //   font-size: 1.3rem;
    //   font-weight: 500;
    //   color: $white;
    // }
  }

  .checkoutPage {
    padding: 2rem 0 0 3rem;
  }

  .number-toggle {
    display: block;
    font-size: 1rem;

    @include trans;

    &__button,
    &__value {
      display: inline-block;
      border: 0.1rem solid $charc-dark;
      padding: 0.3rem 0.75rem;
    }
    
    &__value {
      padding: 0.3rem 1.5rem;
    }

    &__button {
      cursor: pointer;
      
      &:hover {      
        background: $charc-dark;
        color: $white;
      }
    }
  } // end .number-toggle


  .error_explanation {
    margin-bottom: 3rem;
    padding: 2rem;
    border: 0.2rem solid #9a4f59;
  }
