<div class="pageBanner">
  <div class="u-container">
    <div class="pageBanner__left">
      <p><strong>FREE SHIPPING</strong> IN NORTH AMERICA</p>
    </div>
    <div class="pageBanner__right">
      <%= link_to account_path do %>
        <i class="ion-ios-person"></i> <small><small><%= @welcome_text %></small></small></a>
      <% end %>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to cart_path do %>
        <i class="ion-ios-cart"></i> <small><small>CART <%= empty_cart? ? "" : current_order.order_items.count %></small></small>
      <% end %>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://facebook.com/HerbataCo" target="_blank"><i class="ion-logo-facebook"></i></a>&nbsp;&nbsp;&nbsp;
      <a href="https://instagram.com/HerbataCo" target="_blank"><i class="ion-logo-instagram"></i></a>&nbsp;&nbsp;&nbsp;
      <a href="https://pinterest.com/HerbataCo" target="_blank"><i class="ion-logo-pinterest"></i></a>&nbsp;&nbsp;&nbsp;
      <a href="https://twitter.com/HerbataCo" target="_blank"><i class="ion-logo-twitter"></i></a>
    </div>
  </div>
</div>
