<ul class="account__menu">
  <%= menu_link "Order History", account_path %>
  <%= menu_link "Subscriptions", account_subscriptions_path %>
  <%# menu_link "Billing", account_billing_path %>
  <%= menu_link "Account Settings", edit_user_registration_path %>
  <%= menu_link "Logout", destroy_user_session_path, { method: :delete } %>
</ul>
