<nav class="navigation navigation--scrolled">
  <div class="u-container">
    <div class="navigation__brand">
      <%= link_to root_path do %>
        <%= image_tag "logo-herbata@2x", width: 151, height: 45 %>
      <% end %>
    </div>

    <div class="navigation__menu menu">
      <div class="menu__trigger js-nav-trigger">
        <i class="ion ion-ios-menu"></i>
      </div>

      <ul class="menu__items js-nav-items">
        <%= menu_link("Home", root_path) %>
        <%= menu_link("About", about_path) %>
        <%= menu_link("Blog", "http://blog.herbata.co") %>
        <%= menu_link("Products", frontend_products_path) %>
      </ul>
    </div>
  </div>
</nav>
