<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div class="field">
    <%= f.label :currency %>
    <%= f.text_field :currency %>
  </div>

  <div class="field">
    <%= f.label :stripe_id %>
    <%= f.text_field :stripe_id %>
  </div>

  <div class="field">
    <%= f.label :interval %>
    <%= f.text_field :interval %>
  </div>

  <div class="field">
    <%= f.label :interval_count %>
    <%= f.text_field :interval_count %>
  </div>

  <div class="field">
    <%= f.label :statement_descriptor %>
    <%= f.text_field :statement_descriptor %>
  </div>

  <div class="field">
    <%= f.label :trial_period_days %>
    <%= f.text_field :trial_period_days %>
  </div>

  <div class="field">
    <%= f.label :product_group_id %>
    <%= f.text_field :product_group_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
