<h6>Products</h6>
<h2>Products</h2>
<br>

<p id="notice"><%= notice %></p>


<table class="fc-table table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Active</th>
      <th>Price</th>
      <th>Currency</th>
      <th>Stripe</th>
      <th>Interval</th>
      <th>Interval count</th>
      <th>Statement descriptor</th>
      <th>Trial period days</th>
      <th>Product group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.active %></td>
        <td><%= product.price %></td>
        <td><%= product.currency %></td>
        <td><%= product.stripe_id %></td>
        <td><%= product.interval %></td>
        <td><%= product.interval_count %></td>
        <td><%= product.statement_descriptor %></td>
        <td><%= product.trial_period_days %></td>
        <td><%= product.product_group %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
