<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @product.active %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @product.currency %>
</p>

<p>
  <strong>Stripe:</strong>
  <%= @product.stripe_id %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @product.interval %>
</p>

<p>
  <strong>Interval count:</strong>
  <%= @product.interval_count %>
</p>

<p>
  <strong>Statement descriptor:</strong>
  <%= @product.statement_descriptor %>
</p>

<p>
  <strong>Trial period days:</strong>
  <%= @product.trial_period_days %>
</p>

<p>
  <strong>Product group:</strong>
  <%= @product.product_group %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
