<h1>New Order #<%= @order.id %></h1>

<p>
<strong>Order</strong>
<br><br>

<% @order.order_items.each do |oi| %>
  (<%= oi.quantity %>)
  <%= oi.product.name %>
  <br>
<% end %>
</p>

<p>
  Subtotal: <%= @order.sub_total %><br>
  Feetotal: <%= @order.fee_total %><br>
  Total: <%= @order.total %><br>
  Currency: <%= @order.currency_code %><br>
</p>

<br><br>

<p>
  <%= @user.name %><br>
  <%= @address.line_one %><br>
  <%= @address.line_two %><br>
  <%= @address.city %>, <%= @address.province %><br>
  <%= @address.country %> <%= @address.postal_code %>
</p>

