<!DOCTYPE html>
<html>
  <head>
    <title>Herbata Tea Company — a monthly tea subscription</title>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MW76WTH');</script>
    <!-- End Google Tag Manager -->


    <%= javascript_include_tag 'frontend', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <%= yield :page_specific_scripts %>    

    <%= stylesheet_link_tag 'frontend', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="navWrapper">
      <%= render "shared/frontend/banners/free_shipping" %>
      <%= render "shared/frontend/nav/primary" %>
    </div>

    <% if flash[:notice] %>
      <div class="notification"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification"><%= flash[:alert] %></div>
    <% end %>

    <%= yield %>

    <% if !empty_cart? && !checkout_flow? %>
      <div class="checkout-prompt">
        <%= link_to "Follow Your Heart!", cart_path, class: "button button--small button--primaryTaupe" %>
      </div>
    <% end %>

    <%= render "shared/frontend/footer" %>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MW76WTH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
